@tailwind base;
@tailwind components;
@tailwind utilities;

body, html {
    min-height: 100%;
}

body {
    @apply bg-neutral-900 text-neutral-100;
}


.c-top-bar {
    height: 5vh;
}

.c-markdown {
    /* full view height minus mt-4 */
    height: 90vh;
}

.c-bot-bar {
    height: 5vh;
}

.cm-editor {
    /*height: calc(100vh - 4.75rem);*/
    height: 90vh;
}
