@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --top-bar: 5vh;
    --bot-bar: 7vh;
    --markdown: calc(100vh - var(--top-bar) - var(--bot-bar) - 4vh);
}

body, html {
    min-height: 100%;
}

body {
    @apply bg-neutral-900 text-neutral-100;
}

.c-top-bar {
    height: var(--top-bar);
}

.c-markdown {
    /* full view height minus mt-4 */
    height: var(--markdown);
}

.c-bot-bar {
    height: var(--bot-bar);
}

.cm-editor {
    /*height: calc(100vh - 4.75rem);*/
    height: var(--markdown);
}

.c-markdown-review {
    height: 40vh;
}
